{block name}
    {_app.projectPresenter.addUser}
{/block}

{block content}
    <div class="card">
        <div class="card-body">
            {control projectUserForm}
        </div>
    </div>
{/block}
