{block name}
    Správa projektů
{/block}

{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="Project:add" class="btn btn-info">Přidat projekt</a>
        </div>
        <div class="card-body">
            {control projectGrid}
        </div>
    </div>
{/block}
