{block name}
    Detail projektu

{/block}

{block content}
    <a class="m-3" n:href="Project:">Zpět na projekty</a>
    <div class="card">
        <div class="card-body">
            {control projectUserGrid}
        </div>
    </div>
{/block}
