{block name}
    Upravit alokaci pracovníka na projektu
{/block}

{block content}
    <div class="card">
        <div class="card-body">
            {control projectUserAllocationForm}
        </div>
    </div>
{/block}
