{block name}
    {_app.projectPresenter.user}
{*TODO zvážit, zda odstranit*}
{/block}

{block content}
    <div class="card">
        <div class="card-body">
            {control projectUserGrid}
        </div>
    </div>
{/block}
