<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        {foreach $menu as $name => $subInfo}
            <!-- todo zobrazovani v menu pro jednotive role -->
            <li class="nav-item">
                    <a href="{plink $subInfo['link']}" n:class="$currentPage === $subInfo['link'] ? 'bg-light', 'nav-link'">
                        <i class="nav-icon {$subInfo['icon']}"></i>
                        <p>
                            {$name|translate}
                        </p>
                    </a>
            </li>
        {/foreach}

    </ul>
</nav>