{block name}
    Správa uživatelů
{/block}

{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="User:add" class="btn btn-info">Přidat uživatele</a>
        </div>
        <div class="card-body">
            {control basicGrid}
        </div>
    </div>
{/block}
