{block name}
{_app.userPresenter.title}
{/block}

{block content}
    <div class="card">
        <div class="card-header">
            <a n:href="User:add" class="btn btn-info">{_app.userPresenter.addUser}</a>
        </div>
        <div class="card-body">
            {control userGrid}
        </div>
    </div>
{/block}
