{layout "../@layoutSign.latte"}

{block content}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body login-card-body">
            <p class="login-box-msg">Pro práci se systémem se prosím přihlaste</p>
            {control signInForm}

            <!-- /.social-auth-links -->
        </div>
        <div class="card-footer">

        </div>
    </div>
{/block}