{layout "../@layoutSign.latte"}

{block content}
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Registrujte se do systému</p>

            {control registerForm}

            <a n:href="Sign:in" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
{/block}