services:
- App\Components\User\UserGrid\IUserGridFactory
- App\Components\Sign\ISignInFormFactory
- App\Components\Sign\IRegisterFormFactory
- App\Components\Menu\MenuFactory(%menu%)
- App\Components\User\UserForm\IUserFormFactory
