services:
- App\Components\User\UserGrid\IUserGridFactory
- App\Components\Sign\ISignInFormFactory
- App\Components\Sign\IRegisterFormFactory
- App\Components\Menu\MenuFactory(%menu%)
- App\Components\User\UserForm\IUserFormFactory
- App\Components\Project\ProjectForm\IProjectFormFactory
- App\Components\Project\ProjectGrid\IProjectGridFactory
- App\Components\Project\ProjectUserForm\IProjectUserFormFactory
- App\Components\Project\ProjectUserGrid\IProjectUserGridFactory
