services:
- App\Model\User\UserFacade
- App\Model\Project\ProjectFacade
- App\Model\Project\ProjectUser\ProjectUserFacade
- App\Model\Project\ProjectUserAllocation\ProjectUserAllocationFacade
- App\Model\User\Superior\SuperiorUserFacade
- App\Model\User\Role\RoleFacade
- App\Model\Permissions\PermissionFacade