application:
	errorPresenter: Error
	catchExceptions: true
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Router\RouterFactory::create
	- App\Security\Authenticator

latte:
	extensions:
		- Latte\Essential\RawPhpExtension
session:
	autoStart: true
