parameters:
    menu:
        "Základní grid":
            icon: fas fa-th
            link: "Basic:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Columns":
            icon: fas fa-th
            link: "Columns:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Filters":
            icon: fas fa-th
            link: "Filters:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Actions":
            icon: fas fa-th
            link: "Actions:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Group Actions":
            icon: fas fa-th
            link: "GroupActions:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Row":
            icon: fas fa-th
            link: "Row:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Item Detail":
            icon: fas fa-th
            link: "ItemDetail:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Export":
            icon: fas fa-th
            link: "Export:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "TreeView":
            icon: fas fa-th
            link: "TreeView:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Edit":
            icon: fas fa-th
            link: "Edit:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Add":
            icon: fas fa-th
            link: "Add:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Localization":
            icon: fas fa-th
            link: "Localization:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"