parameters:
    menu:
        "Správa uživatelů":
            icon: fas fa-th
            link: "User:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"
        "Správa projektů":
            icon: fas fa-th
            link: "Project:"
            priviledge:
                - "User"
                - "Secretariat"
                - "ATD"