services:
    iMenuFactory:
        implement: App\Components\Menu\IMenuFactory
        arguments:
            menu: %menu%

parameters:
    menu:
        "app.menu.userManagement":
            icon: fa fa-users
            link: 'User:'
            priviledge:
                - 'secretariat'
        "app.menu.projectManagement":
            icon: fa fa-calendar
            link: 'Project:'
            priviledge:
                - 'secretariat'
                - 'project_manager'
                - 'department_manager'