title: 'Systém pro správu projektů'

info:
    name: 'Čeština'
    code: 'cs_CZ'
    icon: 'cz'
    footer: 'Semestrální práce z předmětu KIV/PIA-E (David Kůta)'

menu:
    userManagement: 'Správa uživatelů'
    projectManagement: 'Správa projektů'

locales:
    cs_CZ: 'Čeština'
    en_GB: 'Angličtina'

actions:
    delete: 'Smazat'
    edit: 'Upravit'

baseForm:
    save: 'Uložit'
    saveAndSelect: 'Uložit a vybrat'
    back: 'Zpět'
    cancel: 'Storno'
    close: 'Zavřít'
    remove: 'Odstranit'
    yes: 'Ano'
    no: 'Ne'
    selectInSelectbox: 'Vyberte z možností'
    labelIsRequiredMasculine: '%label je povinný.'
    labelIsRequiredFeminine: '%label je povinná.'
    labelIsRequiredNeuter: '%label je povinné.'
    labelNeedsToBeFilled: '%label je nutné zadat.'
    labelCanBeOnlyLongMasculine: '%label může být nejvýše %d znaků dlouhý.'
    labelCanBeOnlyLongFeminine: '%label může být nejvýše %d znaků dlouhá.'
    labelCanBeOnlyLongNeuter: '%label může být nejvýše %d znaků dlouhé.'
    labelDoesntHaveCorrectFormat: '%label nemá správný formát.'
    labelMustBeNonnegative: '%label musí být nezáporný.'
    labelIsNotInCorrectForm: '%label není ve správném tvaru.'
    labelMustBeNumber: '%label musí být číslo.'
    labelMustBeFromTo: '%label musí být od %min% do %max%.'
    labelCanHaveOnlyChars: '%label může být nejvýše %max% znaky dlouhá.'
    wantedRecordNotFound: 'Požadovaný záznam nenalezen.'
    saveError: 'Při ukládání došlo k chybě.'
    saveOK: 'Operace proběhla úspěšně.'

user:
    id: 'ID'
    firstname: 'Křestní jméno'
    password: 'Heslo'
    lastname: 'Příjmení'
    email: 'Email'
    login: 'Login'
    roles: 'Role'
    workplace: 'Hlavní pracoviště'
    emailExists: 'Na zadaný email je již někdo registrován. Zvolte jiný.'
    loginExists: 'Na zadaný login je již někdo registrován. Zvolte jiný.'
    roleEmptyError: 'Uživatel nemůže být bez role.'
    roleCombError: 'Uživatel nemůže být pracovník a zároveň nadřízený.'
    loginError: 'Kombinace login a hesla není správná. Zkuste to prosím znovu.'
    loginAction: 'Přihlásit se'
    logoutAction: 'Odhlásit se'
    addSubordinates: 'Přidat podřízené'

project:
    id:  'ID'
    name: 'Název'
    user_id: 'Projektový manažer'
    from: 'Čas od'
    to: 'Čas do'
    description: 'Poznámka'
    worker_count: 'Počet pracujících'
    dateError: 'Projekt nemůže začínat po svém konci'
    addUser: 'Přidat pracovníka'

projectAllocation:
    id:  'ID'
    name: 'Název projektu'
    user_id: 'Jméno pracovníka'
    from: 'Čas od'
    to: 'Čas do'
    allocation: 'Alokace (počet hodin za týden)'
    description: 'Poznámka'
    state: 'Stav'
    editAllocationError: 'Nelze upravit neexistující alokaci'
    active: 'Aktivní'
    draft: 'Předloha'
    cancel: 'Zrušený'
    past: 'Proběhlá'
    projectNotExists: 'Projekt neexistuje.'
    allocationNotExists: 'Upravovaná alokace neexistuje.'
    userNotOnProject: 'Uživatel není na projektu přiřazen.'
    timeWindowError: 'Časové okno alokace není součástí časového okna projektu. Zkontrolujte časové meze.'
    allocationError: 'Pracovník nemůže mít větší úvazek, než 40 hodin.'
    allocationMin: 'Alokace musí být kladné číslo.'
    allocationMax: 'Alokace nesmí být více, než %d hodin.'
    currentAllocation: 'Alokace nyní'
    totalAllocation: 'Alokací celkem [h]'

subordinate:
    superior: 'Nadřízený'
    worker: 'Pracovník'
    error: 'Zvolený pracovník je již podřízený zvoleného nadřízeného.'

sign:
    signOut: 'Byli jste úspěšně odhlášeni.'
    advice: 'Pro práci se systémem se musíte přihlásit'

userPresenter:
    title: 'Správa uživatelů'
    add: 'Přidat uživatele'
    edit: 'Upravit uživatele'
    addSubordinate: 'Přidat podřízeného'
    addUser: 'Přidat uživatele'

projectPresenter:
    title: 'Správa projektů'
    add: 'Přidat projekt'
    edit: 'Upravit projekt'
    addUser: 'Přidat pracovníka k projektu'
    detail: 'Detail prjektu'
    projectWorkers: 'Pracovníci na projektu'
    allocationsOnProject: 'Alokace na projektu'
    addWorkerAllocation: 'Přidat alokaci pracovníka'
    addWorkerAllocationProject: 'Přidat alokaci pracovníka na projektu'
    editWorkerAllocationProject: 'Upravit alokaci pracovníka na projektu'
    user: 'Projekty uživatele'
