title: 'EN Systém pro správu projektů'

info:
    name: 'English'
    code: 'en_GB'
    icon: 'gb'

locales:
    cs_CZ: 'Czech'
    en_GB: 'English'

userForm:
    firstname: 'First name'
    lastname: 'Last name'
    email: 'Email'
    login: 'Login name'