title: 'Systém pro správu projektů'

info:
    name: 'Čeština'
    code: 'cs_CZ'
    icon: 'cz'

locales:
    cs_CZ: 'Čeština'
    en_GB: 'Angličtina'

actions:
    delete: 'Smazat'
    edit: 'Upravit'

baseForm:
    save: 'Uložit'
    saveAndSelect: 'Uložit a vybrat'
    back: 'Zpět'
    cancel: 'Storno'
    close: 'Zavřít'
    remove: 'Odstranit'
    yes: 'Ano'
    no: 'Ne'
    selectInSelectbox: 'Vyberte z možností'
    labelIsRequiredMasculine: '%label je povinný.'
    labelIsRequiredFeminine: '%label je povinná.'
    labelIsRequiredNeuter: '%label je povinné.'
    labelNeedsToBeFilled: '%label je nutné zadat.'
    labelCanBeOnlyLongMasculine: '%label může být nejvýše %d znaků dlouhý.'
    labelCanBeOnlyLongFeminine: '%label může být nejvýše %d znaků dlouhá.'
    labelCanBeOnlyLongNeuter: '%label může být nejvýše %d znaků dlouhé.'
    labelDoesntHaveCorrectFormat: '%label nemá správný formát.'
    labelMustBeNonnegative: '%label musí být nezáporný.'
    labelIsNotInCorrectForm: '%label není ve správném tvaru.'
    labelMustBeNumber: '%label musí být číslo.'
    labelMustBeFromTo: '%label musí být od %min% do %max%.'
    labelCanHaveOnlyChars: '%label může být nejvýše %max% znaky dlouhá.'
    wantedRecordNotFound: 'Požadovaný záznam nenalezen.'
    saveError: 'Při ukládání došlo k chybě.'
    saveOK: 'Operace proběhla úspěšně.'

user:
    id: 'ID'
    firstname: 'Křestní jméno'
    password: 'Heslo'
    lastname: 'Příjmení'
    email: 'Email'
    login: 'Přihlašovací jméno'
    roles: 'Role'
    workplace: 'Hlavní pracoviště'
    emailExists: 'Na zadaný email je již někdo registrován. Zvolte jiný.'
    loginExists: 'Na zadaný login je již někdo registrován. Zvolte jiný.'

project:
    id:  'ID'
    name: 'Název'
    user_id: 'Projektový manažer'
    from: 'Čas od'
    to: 'Čas do'
    description: 'Poznámka'
    worker_count: 'Počet pracujících'
    dateError: 'Projekt nemůže začínat po svém konci'
    addUser: 'Přidat pracovníka'

projectAllocation:
    id:  'ID'
    name: 'Název projektu'
    user_id: 'Jméno pracovníka'
    from: 'Čas od'
    to: 'Čas do'
    allocation: 'Alokace (počet hodin za týden)'
    description: 'Poznámka'
    state: 'Stav'
    editAllocationError: 'Nelze upravit neexistující alokaci'
    active: 'Aktivní'
    draft: 'Předloha'
    cancel: 'Zrušený'
    projectNotExists: 'Projekt neexistuje.'
    allocationNotExists: 'Upravovaná alokace neexistuje.'
    userNotOnProject: 'Uživatel není na projektu přiřazen.'
    timeWindowError: 'Časové okno alokace není součástí časového okna projektu. Zkontrolujte časové meze.'
    allocationError: 'Pracovník nemůže mít větší úvazek, než 40 hodin.'
    allocationMin: 'Alokace musí být kladné číslo.'
    allocationMax: 'Alokace nesmí být více, než %d hodin.'
