title: 'EN Systém pro správu projektů'

info:
    name: 'English'
    code: 'en_GB'
    icon: 'gb'

locales:
    cs_CZ: 'Czech'
    en_GB: 'English'

actions:
    delete: 'Smazat'
    edit: 'Upravit'

baseForm:
    save: 'Save'
    saveAndSelect: 'Save and select'
    back: 'Back'
    cancel: 'Cancel'
    close: 'Close'
    remove: 'Remove'
    yes: 'Yes'
    no: 'No'
    selectInSelectbox: 'Select in selectbox'
    labelIsRequiredMasculine: '%label is required.'
    labelIsRequiredFeminine: '%label is required.'
    labelIsRequiredNeuter: '%label is required.'
    labelNeedsToBeFilled: '%label is required.'
    labelCanBeOnlyLongMasculine: '%label can only be %maxLength% chars long.'
    labelCanBeOnlyLongFeminine: '%label can only be %maxLength% chars long.'
    labelCanBeOnlyLongNeuter: '%label can only be %maxLength% chars long.'
    labelDoesntHaveCorrectFormat: '%label is not in the correct format.'
    labelMustBeNonnegative: '%label must be nonnegative.'
    labelIsNotInCorrectForm: '%label is not in the correct format.'
    labelMustBeNumber: '%label must be a number.'
    labelMustBeFromTo: '%label must be in range from %min% to %max%.'
    labelCanHaveOnlyChars: '%label can only be %max% chars long.'
    wantedRecordNotFound: 'Requested record not found.'
    saveError: 'An error occurred while saving.'
    saveOK: 'Operation completed succesfully.'

user:
    id: 'ID'
    firstname: 'First name'
    password: 'Password'
    lastname: 'Last name'
    email: 'Email'
    login: 'Login'
    role: 'Role'
    workplace: 'Primary workplace'
    emailExists: 'Someone is registered to this email. Choose different one.'
    loginExists: 'Someone is registered to this login. Choose different one.'
    roleEmptyError: 'User cant be without role.'
    roleCombError: 'User cant be worker and superior at the same time.'
    loginError: 'Combination of login and password is incorrect. Please, try again.'
    loginAction: 'Login'

project:
    id:  'ID'
    name: 'Name'
    user_id: 'Project manager'
    from: 'Time from'
    to: 'Time to'
    description: 'Description'
    worker_count: 'Worker count'
    dateError: 'Project must not start after its end.'
    addUser: 'Add user'

projectAllocation:
    id:  'ID'
    name: 'Project name'
    user_id: 'Worker name'
    from: 'Time from'
    to: 'Time to'
    allocation: 'Allocation (total number of hours per week)'
    description: 'Description'
    state: 'State'
    editAllocationError: 'Cant edit non existent allocation.'
    active: 'Active'
    draft: 'Draft'
    cancel: 'Canceled'
    past: 'Past'
    projectNotExists: 'Project not exist.'
    allocationNotExists: 'Edited allocation not exists.'
    userNotOnProject: 'User is not on project anymore.'
    timeWindowError: 'Time window allocation is not in line with time of project.'
    allocationError: 'A worker cannot work more than 40 hours.'
    allocationMin: 'The allocation must be a positive number greater than %d.'
    allocationMax: 'The allocation must not be more than %d hours.'
    currentAllocation: 'Allocations now'
    totalAllocation: 'Allocations total [h]'

subordinate:
    superior: 'Superior'
    worker: 'Worker'
    error: 'Chosen worker is subordinate of chosen superior already.'

sign:
    signOut: 'You were signed out succesfully.'