no_item_found_reset : 'Žádné položky nenalezeny. Můžete resetovat filtr.'
no_item_found : 'Žádné položky nenalzeny.'
here : 'zde'
items : 'položky'
all : 'všechny'
from : 'z'
reset_filter : 'Resetovat filtr'
group_actions : 'Hromadné akce'
show : 'Zobrazit'
add : 'Přidat'
edit : 'Upravit'
show_all_columns : 'Zobrazit všechny sloupce'
show_default_columns : 'Zobrazit výchozí sloupce'
hide_column : 'Skrýt sloupec'
action : 'Akce'
previous : 'Předchozí'
next : 'Další'
choose : 'Vyberte'
choose_input_required : 'Musíte zadat hodnotu při hromadné akci'
execute : 'Provést'
save : 'Uložit'
cancel : 'Zrušit'
multiselect_choose : 'Vyberte'
multiselect_selected : '{0} vybráno'
filter_submit_button : 'Filtrovat'
show_filter : 'Zobrazit filtr'
per_page_submit : 'Změnit'
