{block name}
    Vaše alokace
{/block}

{block content}
    <div class="card">
        <div class="card-body">
            {control myAllocationsGrid}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {control subordinateAllocationsGrid}
        </div>
    </div>


{/block}
