{block name}
    Hlavní stránka
{/block}

{block content}
    <div class="card">
        <div class="card-header">
            <a class="btn btn-info">Zde bude</a>
        </div>
        <div class="card-body">
            Něco
        </div>
    </div>
{/block}
